.slide1 {
  background-image: url('../assets/2.png');
}

.slide2 {
  background-image: url('../assets/vibe.png');
}

.slide3 {
  background-image: url('../assets/предприн.jpg');
}

.slide4 {
  background-image: url('../assets/simple-love-cat-square-meme_742173-12577.png');
}

.slide5 {
  background-image: url('../assets/я_непонял.jpeg');
}
